/* Todo */

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    text-align: center;
}

.hero {
    position: relative;
    height: 15em; 
    width: 100%;
    background-color: black;
    background-image: url('img/fashion.jpg')
        
}

.hero__text {
    text-align: center;
    color: white;
    font-size: 1em;
}

.navbar {
    position: relative; 
    display: inline-block; 
}

.navbar__menu { 
    background-image: url('img/menu.jpg')
}

.titulo__principal {
    font-size: 1.5em;
    color: darkgray;
}

.titulo__subtitulo {
    font-size: 1em;
    color: darkgray;
}

.video-container {
    margin: 10%;
    position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
    height:100%;
}

.artigos-destaque {
    width: 100%;
    margin: 3em 0;
}

.artigos-destaque h2 {
    color: #696969;
}

.artigos-destaque h2 {
    color: #696969;
}

.artigos-destaque h4 {
    color: #808080;
}

.artigos-destaque p {
    color: #A9A9A9;
}

.globo {
    box-sizing: border-box;
    width:100%;
    float:left;
    padding: 2em;
}

.destaque-inferior {
    margin-bottom: 5em;
}

.destaque-inferior__botao {
    width: 100%;
}

.destaque-inferior__botao h4{
    color: #808080;
}

.destaque-inferior__botao p {
    color: #A9A9A9;
}

.botao-verde {
    box-sizing: border-box;
    width:400px;
	height:100px;
	background-color: #90EE90;
    border-radius: 10px;
    padding: 0.5em 2em;
    text-decoration:none;
    color:white;
}

.rodape {
    background-color: #363636;
    padding: 1em 0;
}

.rodape h4 {
    color: #E8E8E8;
}

.rodape p {
    color: #A9A9A9;
}



