/* Todo */

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    text-align: center;
}

.sanduiche-fechado__logo {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 30px;
}

.hero {
    position: relative;
    height: 15em; 
    width: 100%;
    background-color: black;
    background-image: url('img/fashion.jpg')
        
}

.hero__text {
    text-align: center;
    color: white;
    font-size: 1em;
    float: left;
    width: 100%;
    line-height: 12px;
    margin-top: 40px;
}

.navbar {
    position: relative; 
    display: inline-block; 
}

.navbar__menu { 
    background-image: url('img/menu.jpg')
}

.sanduiche-aberto {
    display: none;
}

.sanduiche-fechado {
    margin-right: 30px;
    float: right;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.sanduiche-fechado__container span {
    float: left;
    width: 100%;
    height: 5px;
    background: #fff;
    margin-top: 5px;
    border-radius: 1px;
}

.sanduiche-aberto__container {
    width: 500px;
    float: right;
    margin-top: 30px;
}

.sanduiche-aberto__container span {
    width: 60px;
    height: 5px;
    background: #fff;
    float: left;
    margin-right: 30px;
    border-radius: 1px;
    margin-top: 7px;
}

.sanduiche-aberto__container span:last-of-type {
    margin-right: 0px;
}

.titulo__principal {
    font-size: 1.5em;
    color: darkgray;
}

.titulo__subtitulo {
    font-size: 1em;
    color: darkgray;
}

.video-container {
    margin: 10%;
    position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
    height:100%;
}

.artigos__destaque {
    width: 300px;
    margin: 3em auto;
}

.artigos__destaque h2 {
    color: #696969;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    margin: 0;
}

.artigos__destaque h4 {
    color: #808080;
    margin: 1em 0 0 0;
}

.artigos__destaque p {
    color: #A9A9A9;
    text-align: justify;

}

.globo {
    box-sizing: border-box;
    width: 320px;
    padding: 2em;
}

.destaque-inferior {
    margin-bottom: 5em;
}

.destaque-inferior__botao {
    width: 300px;
    margin: auto;
}

.destaque-inferior__botao h4{
    color: #808080;
}

.destaque-inferior__botao p {
    color: #A9A9A9;
    text-align: justify;
}

.botao-verde {
    box-sizing: border-box;
    width:400px;
	height:100px;
	background-color: #90EE90;
    border-radius: 10px;
    padding: 0.5em 2em;
    text-decoration:none;
    color:white;
}

.rodape {
    background-color: #363636;
    padding: 1em 0;
}

.rodape h4 {
    color: #E8E8E8;
}

.rodape p {
    color: #A9A9A9;
}

    @media (min-width: 768px) {

        .sanduiche-aberto {
            display: block;
        }
        
        .sanduiche-fechado {
            display: none;
        }

        .artigos__destaque {
            display: inline-block;
            width: 32%;
            margin: 3em 0;
            box-sizing: border-box;
            padding: 0 1em;
        }

        .video {
            float: left;
            width: 100%;
            height: auto;
            background-color: #fff;
        }

        .video-container {
            width: 30%;
            float: left;
            margin: 1%;
            height: auto;
            padding-bottom: 26.25%;
        }

        .video-container iframe {
            height: 400px;
        }

        .video-container:first-of-type {
            margin-left: 3%;
        }

        section.destaque-inferior {
            float: left;
            background: #fff;
        }

        .destaque-inferior__desktop {
            float: left;
            width: 50%;
            padding-left: 6em;
            box-sizing: border-box;
        }

        .destaque-inferior__botao {
            float: left;
            width: 50%;
            text-align: left;
            margin-top: 50px;
            padding-right: 6em;
            box-sizing: border-box;
        }

        .rodape p {
            max-width: 800px;
            margin: auto;
            margin-bottom: 20px;
        }


    }

    @media (min-width: 922px) {
        .artigos__destaque {
            width: 30%;
            padding: 0 1.5em
        }
      
     }